
<div>
  <span> oi, {{name}}</span>
  </br>
  <span>Você solicitou a alteração de senha</span>
  </br>
  <span> Para a alteração clique no link:</span>
  <span><a href={{link}}>{{link}}</a></span>
</div>